/* ------------------------------------------------ */
/* ------------- RESPONSIVE MOBILE ---------------- */
/* ------------------------------------------------ */

/* Tablets */
@media screen and (max-width: 845px) {
	.container {
		width: 100%;
		/*overflow: hidden;*/
	}

	/* --------- NAV ----------- */
	.links {
		display: none;
	}

	.mobile-links {
		display: inline-block;
		position: fixed; /* To display menu on top */
		top: 40px;
		right: 0;
		z-index: 20;
	}

	.mobile-links i {
		font-size: 2em;
		padding: 20px;
		background-color: var(--darkblue);
	}

	.menu-window {
		margin-top: 10px;
	}

	.link-mobile {
		padding: 10px 10px 10px 40px;
		margin-top: 5px;
		display: block;
		background-color: var(--darkblue);
		/*transform: translate(100%, 0);*/
		visibility: hidden;
		top: 0;
		right: -200px;
	}

	#mobile-link-one {
		/*transition-property: right;*/
		/*transition-duration: 0.5s;*/
		transition: 0.5s;
		transition-timing-function: ease-out;
	}

	#mobile-link-two {
		/*transition-property: right;*/
		/*transition-duration: 0.5s;*/
		transition: 0.5s;
		transition-delay: 0.15s;
		transition-timing-function: ease-out;
	}

	#mobile-link-three {
		/*transition-property: right;*/
		/*transition-duration: 0.5s;*/
		transition: 0.5s;
		transition-delay: 0.3s;
		transition-timing-function: ease-out;
	}

	.responsive {
		/*display: inline-block;*/
		/*transform: translate(0);*/
		visibility: visible;
		right: 0;
	}

	/* --------- MAIN PAGE ---------- */

	#main {
		height: auto !important;
		padding-bottom: 80px;
	}

	#main h1 {
		font-size: 15vw;
	}

	.project a {
		width: 50%;
	}
}

/* Mobile Phones */
@media screen and (max-width: 480px) {
	.container {
		width: 100%;
	}

	/* --------- MAIN PAGE ---------- */

	#main h1 {
		font-size: 20vw;
	}
}