* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
}

.container {
	background-color: #E63946;
	width: 1200px;
	margin: 0 auto;
}

nav {
	text-align: right;
	height: 50px;
	padding-top: 10px;
}

.links {
	margin-right: 100px;
}

.menu {
	position: relative;
	font-family: 'Roboto Slab', serif;
	font-weight: 900;
	font-size: 1.9rem;
	color: white;
	text-decoration: none;
	margin: 0 20px;
	top: 4px;
	z-index: 2;
}

.selector {
	margin: 0 20px;
}
.selector:hover {
	/*position: relative;*/
	background-color: black;
	padding-top: 30px;
	z-index: 1;
}